body {
    background: gold, silver black;
    opacity: 0.5%;
	background: linear-gradient(
        silver,
        rgb(236,153,44),
        black
    	)
		no-repeat;
	background-size: 100%;
	background-position: center;
    color: black;
    height: 1000px;
}

header { 
    background-color: pink;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

header > h1 {
    font-size: 150px;
    font-family: 'Freckle Face', cursive;
    align-items: center;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
}
#playerBox {
    background-color:lightgreen;
    justify-content: center;
    height: 300px;
    /* width: 500px; */
}

#questionBox {
    background-color: lightgoldenrodyellow;
    height:300px;
}

#questionBox.answerBox {
    background-color: lightgrey;
    height: 300px;
}